# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/expenseTracker?retryWrites=true&w=majority

# JWT secret key for authentication
JWT_SECRET=your_jwt_secret_key_here

# Server Port
PORT=8000
